div.settings-row, div.select {
    display: block;
    margin: 0.65em 0;
}

.select > label > span {
	display: inline-block;
	min-width: 120px;
}

.select > label > select {
	min-width: 100px;
}

span.key {
	display: inline-block;
	min-width: 80px;
}
